<main class="mastcontent">
    <section class="intro-copy padding-y padding-lg">
        <div class="container">
            <div class="grid">
                <div class="grid__column grid__column--12 grid__column--12--md">
                    <h3>Tap a picture to show on the display</h3>

                    <div class="i-grid" id="macy-container">

{{#images}}

<div id="{{id}}" class="i-grid-item">
   <a href="">
      <img src="imgs/{{filename}}" />
   </a>
</div>


{{/images}}
</div>
</div>

</div>
</div>
</section>
</main>

<script>
$(document).ready(function(){
    $("a").click(function(){
      var img = $(this).parent().attr('id')
        $.get("//192.168.1.102:3000/image/"+img, function(data, status){
            console.log("Data: " + data + "\nStatus: " + status);
        });
    });
});
</script>
