
             <main class="mastcontent">
                 <section class="intro-copy padding-y padding-lg">
                     <div class="container">
                         <div class="grid">
                             <div class="grid__column grid__column--12 grid__column--12--md">
                              
                              <h3>Connect to BWPS-WIFI to control the images </h3>

                                 <div class="i-grid" id="macy-container">

            {{#images}}

            <div id="{{id}}" class="i-grid-item">
               <a href="imgs/{{filename}}" data-lightbox="collection1" data-title="{{title}}">
                   <img src="imgs/{{filename}}" />
               </a>
            </div>


            {{/images}}
            </div>
         </div>

         </div>
         </div>
         </section>
         </main>



<script src="/socket.io/socket.io.js" ></script>
<script src="/javascripts/moveTo.js"></script>
<script src="/javascripts/queue.js"></script>
<script>


var queue = new Queue();

console.log('Hello');
const moveTo = new MoveTo();

var intervalTimer;

var socket = io('//localhost:3000');
socket.on('socketToMe',  (data) => {
  // if (queue.isEmpty()){
  //   clearTimeout(intervalTimer);
  //   queue.enq(data);
  //   displayImage();
  // }else {
  //   queue.enq(data);
  // }

  queue.enq(data);

});

displayImage();

function displayImage(){
  var data;
  if (queue.isEmpty()) {
    data = {imagenumber : 1};
  } else {
    data = queue.deq();
  }
  console.log(data);
   $('.lb-close').click()
  const target = document.getElementById(data.imagenumber);
  moveTo.move(target, {    callback: function (target) {
    console.log('moved to '+target);
     $(target).find('a').click();
     intervalTime = setTimeout(() => { displayImage(); },10000);
   }});
}

</script>
